{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="post">       
        <label for="content">Message Content</label>
        <br>
        <br>
        <textarea name="content"
                  placeholder="Message content"
                  rows="15"
                  cols="60">{{ content or '' }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
